* {
    border: 1px red solid;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.pixels {
    display: flex;
    flex-direction: column;
    height: 960px;
    width: 960px;
}

.row {
    display: flex;
    flex-grow: 1;
}

.col {
    flex-grow: 1;
}